@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    width: 35%;
}

.left {
    display: block;
    margin-left: 15px;
    padding-top: 4px;
    width: 18%;
}


.login-box{
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 60%;
    left: 55%;
    transform: translate(-50%, -50%);
    background: #e67e22;
    border-radius: 10%;
    text-align: center;
}
.avatar{
    width: 70%;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: -61%;
}
::placeholder { 
    color: red;
    opacity: 1; 
    font-weight: bold;
  }
.login-box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.login-box input[type = "text"], .login-box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    font-weight: bold;
    background: white;
} 
.login-box input[type = "text"]:focus, .login-box input[type = "password"]:focus{
    width: 280px;
    border-color: red;
    border-width: 4px;
}
.login-box input[type = "button"]{
    border: 0;
    font-weight: bold;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    padding: 14px 35px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.login-box input[type = "button"]:hover{
    background: white;
}

/* -------------------navigation bar ------------------*/

/* Add a black background color to the top navigation */
.topnav {
    margin-top: -15px;
    background-color: rgb(226, 221, 221);
    overflow: hidden;
    height: 45px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgba(102, 98, 98, 0.384);
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgb(255, 145, 0);
    color: white;
  }

h3{
    text-align: right;
    
    margin-top: -7px;
    padding-right: 20px;
}

.right{
    display: flex;
    align-items: right;
    justify-content: right;
}

.right .sub{
    position: relative;
    top: -18px;
    left: -10px;
    border-radius: 24px;
    background: #2ecc71;
    color: #fff;
    padding: 8px 30px;
    text-decoration: none;
}
.right .market{
    position: relative;
    top: -18px;
    left: -15px;
    background: #fff;
    color: rgb(0, 0, 0);
    padding: 8px 30px;
    text-decoration: none;
}

.right .sub:hover {background-color: #16a085;}
.right .market:hover {background-color: #7f8c8d;}

.right i {
    margin: 0 5px;   
}

.right-buttons a{
    background: #2ecc71;
    padding: 10px;
    text-align: center;
    display:inline-block;
    text-decoration: none !important;
    margin-left: auto;
    color: white;  
    padding: 10px 12px;  
}

.right-buttons button{
    background: #2ecc71;
    padding: 10px;
    text-align: center;
    display:inline-block;
    text-decoration: none !important;
    margin-left: auto;
    color: white;  
    padding: 10px 12px; 
}


.right-buttons .edit:hover {background-color: #16a085;}
.right-buttons .submit:hover {background-color: #16a085;}

/* ----------------drop button for logout -------------------*/

.dropbtn{
    position: relative;
    top: -18px;
    left: -10%;
    border-radius: 50%;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 1px;
}
  
.dropdown-content a {
    color: black;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
    
}
.dropdown-content a:hover {background-color: #f1c40f;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #f1c40f;}


.time-options{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 130px;
    
}

.time-options a{
    color: black;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
}
.time-options a:hover {background-color: #ddd;}

.dropped:hover .time-options {display: block;}

.dropped:hover .drop {background-color: #f1c40f;}

.adding{
    
    padding: 20px;
}
.dates, .add{
    
    float: left;
    padding: 10px;
    
}

.box{
    border: 1px solid #95a5a6;
    background-color: rgb(226, 221, 221);
    padding: 10px;
}
.text{
    padding: 50px;
    text-align: center;
    font-size: small;
}
.sheets{
    font-size: large;
    font-weight: bold;
}

/* ------------------table--------------- */
.content-table{
    border-collapse: collapse;
    border-spacing: 0;
    margin: 25px 0;
    width: 90%;
    font-size: 0.9em;
    min-width: 400px;
    color: #34495e;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0px 20px 16px 0px rgba(0,0,0,0.2);
}



.content-table th{
    background-color: #e67e22;
    color: #ffffff;
    text-align: left;
}
.content-table .head{
    text-align: center;
}
.content-table td{
    padding: 12px 15px;
}

.content-table tr{
    border-bottom: 1px solid #7f8c8d;
}
.content-table tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.content-table tr:last-of-type{
    border-bottom: 3px solid #e67e22;
}

.sheets{
    padding-left: 20px;
    padding-top: 20px;
}

